.alert {
    @include border-radius(0);
    @include box-shadow(none);
    border: none;
    color: #fff !important;

    .alert-link {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }
}

.alert-success {
    background-color: #2b982b;
}

.alert-info {
    background-color: #00b0e4;
}

.alert-warning {
    background-color: #ff9600 !important;
}

.alert-danger {
    background-color: #fb483a !important;
}

.alert-dismissible {
    .close {
        color: #fff;
        opacity: 1;
        border: none;
        text-shadow: none;
    }
}
.alert-button {
    background-color: #f44336; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de mano */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .alert-button:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el ratón */
  }